{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="../static/img/logo_1.png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css">
</head>
<body>
      
   
    <header>

        <div class="menu container">

            <img src="../static/img/Logo.png" alt="" class="logo">
            <img src="../static/img/escritura_zephyros.png" alt="" class="logo-1">

             <nav class="navbar">
                     <ul>
                             <li><a href="{% url 'inicio' %}">Home</a></li>
                             <li><a href="{% url 'historial' %}">Information</a></li>
                             <li><a href="{% url 'historial' %}">Products</a></li>
                             <li><a href="{% url 'historial' %}">Login/Register</a></li>
                     </ul>
             </nav>

        </div>
        
    </header>



    <div class="containers" id="container">

        <div class="form-container register-container">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <h1>REGISTER</h1>
                <input type="text" name="nombres"  placeholder="Nombre" required>
                <input type="text" name="apellidos"  placeholder="Apellido" required>
                <input type="text" name="numero_tel" placeholder="Numero celular" required>
                <input type="text" name="nombre_usuario"  placeholder="Nombre de Usuario" required>
                <input type="email" name="email"  placeholder="Email" required>
                <input type="text" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" onfocus="this.type='date'" onblur="if(!this.value) this.type='text'" required>
                <input type="password" name="clave"  placeholder="Contraseña" required>
                <button type="submit">Register</button>
            </form>
        </div> 

    <div class="form-container login-container">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h1>LOGIN</h1>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="clave"  placeholder="Password" required>
            <div class="content">
                <div class="pass-link">
                    <a href="#">¿Olvidaste tu contraseña?</a><br>
                </div>
            </div>
            <button>Login</button>
            <div class="class-container">
                <a href="https://www.facebook.com/coldulcemaria/?locale=es_LA" class="social"><i class="lni lni-facebook-square"></i></a>
                <a href="https://colegiodulcemaria.edu.co/" class="social"><i class="lni lni-google"></i></a>
                <a href="https://www.instagram.com/colegiopedagogicodulcemaria/?hl=es-la" class="social"><i class="lni lni-instagram"></i></a>
            </div>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
            <h1 class="title">Hardwarex<br></h1>
            <p>Mantenimiento de equipos en un instante</p>
            <p>Mantenimiento de equipos en un instante</p>
            <button class="ghost" id="login">Login
                <i class="lni lni-arrow-left login"></i>
            </button>
            </div> 
            <div class="overlay-panel overlay-right">
                <h1 class="title">Bienvenido <br>a <br>HardwareX</h1>
                <p>¿No tienes una cuenta? dale click aquí</p>
                <button class="ghost" id="register">Registrar
                    <i class="lni lni-arrow-right register"></i>
                </button>
            </div>
        </div> 
    </div>

    </div> 
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <script src="../static/js/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>