<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Técnico</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>

<header>
    <div class="logo-container">
        <img src="../static/img/Logo.png" alt="Logo Hardwarex">
        
    </div>

    <button class="btn-cerrar">Cerrar Sesión</button>
</header>

<nav>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Equipos Asignados</a></li>
        <li><a href="#">Solicitudes</a></li>
        <li><a href="#">Mantenimientos</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Mi Perfil</a></li>
    </ul>
</nav>

<main>

    <section class="bienvenida">
        <h2>Bienvenido Técnico</h2>
        <p>
            Desde este panel podrás gestionar equipos,
            atender solicitudes y registrar mantenimientos.
        </p>
    </section>

    <section class="tarjetas">

        <div class="card">
            <h3>Equipos Asignados</h3>
            <p>15</p>
        </div>

        <div class="card">
            <h3>Solicitudes Pendientes</h3>
            <p>8</p>
        </div>

        <div class="card">
            <h3>Mantenimientos Realizados</h3>
            <p>25</p>
        </div>

        <div class="card">
            <h3>Reportes Generados</h3>
            <p>12</p>
        </div>

    </section>

</main>

<footer>
    <p>© 2026 Hardwarex - Sistema de Gestión de Equipos</p>
</footer>


</body>
</html>